@tailwind base;
@tailwind components;
@tailwind utilities;

@import './common.css';
@import './sandpack.css';

@layer utilities {
}

@layer base {
  :root {
    /* code colors */
    --code-foreground: 244 244 244;
    /* landing code window colors */
    --code-syntax1: 97 175 239;
    --code-syntax2: 152 195 121;
    --code-syntax3: 198 120 221;
    --code-syntax4: 212 212 216;
    --code-syntax5: 229 192 123;
    --code-syntax6: 145 180 213;
    --code-removed: 248 113 160;
    --code-highlighted-word1-bg: 120 40 200;
    --code-highlighted-word1-bg-active: 96 32 160;
    --code-highlighted-word1-text: 48 16 80;
    --code-highlighted-word2-bg: 253 208 223;
    --code-highlighted-word2-bg-active: 243 18 96;
    --code-highlighted-word2-text: 250 160 191;
    --code-highlighted-word3-bg: 116 223 162;
    --code-highlighted-word3-bg-active: 116 223 162;
    --code-highlighted-word3-text: 209 244 224;
    /* sandpack + prism */
    --code-string: 152 195 121;
    --code-class: 145 180 213;
    --code-punctuation: 220 220 220;
    --code-number: 229 192 123;
    --code-added: 116 223 162;
    --code-line-number: 212 212 216;
    --code-faded-line: 113 113 122;
    --code-comment: 113 113 122;
    --code-keyword: 198 120 221;
    --code-function: 97 175 239;
    --code-tag: 224 108 117;
    --code-attr-name: 145 180 213;
    --code-language-javascript: 145 180 213;


  }
}


.dark .sandpack,
.dark .sp-wrapper {

  /* --sp-colors-accent: #149eca;
  --sp-colors-clickable: #999;
  --sp-colors-disabled: #fff;
  --sp-colors-error: #811e18;
  --sp-colors-error-surface: #ffcdca;
  --sp-colors-surface1: #161618;
  --sp-colors-surface2: #343a46;
  --sp-colors-divider: #2e2e32;
  --sp-colors-soft: #202127;

  --sp-syntax-color-plain: #ffffff;
  --sp-syntax-color-comment: #757575;
  --sp-syntax-color-keyword: #77b7d7;
  --sp-syntax-color-tag: #dfab5c;
  --sp-syntax-color-punctuation: #ffffff;
  --sp-syntax-color-definition: #86d9ca;
  --sp-syntax-color-property: #77b7d7;
  --sp-syntax-color-static: #c64640;
  --sp-syntax-color-string: #977cdc; */
}

.sandpack,
.sp-wrapper {
  color-scheme: inherit;
  --sp-layout-height: 100%;
  -webkit-font-smoothing: antialiased;

  /*
  --sp-space-1: 4px;
  --sp-space-2: 8px;
  --sp-space-3: 12px;
  --sp-space-4: 16px;
  --sp-space-5: 20px;
  --sp-space-6: 24px;
  --sp-space-7: 28px;
  --sp-space-8: 32px;
  --sp-space-9: 36px;
  --sp-space-10: 40px;
  --sp-space-11: 44px;
  --sp-border-radius: 4px;
  --sp-layout-headerHeight: 40px;
  --sp-transitions-default: 150ms ease;
  --sp-zIndices-base: 1;
  --sp-zIndices-overlay: 2;
  --sp-zIndices-top: 3;
  --sp-font-body: 'MapleMono';
  --sp-font-mono: 'MapleMono';
  --sp-font-size: 14px;
  --sp-font-lineHeight: 24px;

  --sp-colors-accent: #087ea4;
  --sp-colors-clickable: #959da5;
  --sp-colors-disabled: #24292e;
  --sp-colors-error: #811e18;
  --sp-colors-error-surface: #ffcdca;
  --sp-colors-surface1: #fff;
  --sp-colors-surface2: #e4e7eb;
  --sp-colors-divider: #e2e2e3;
  --sp-colors-soft: #f6f6f7;


  --sp-syntax-color-plain: #24292e;
  --sp-syntax-color-comment: #6a737d;
  --sp-syntax-color-keyword: #d73a49;
  --sp-syntax-color-tag: #22863a;
  --sp-syntax-color-punctuation: #24292e;
  --sp-syntax-color-definition: #6f42c1;
  --sp-syntax-color-property: #005cc5;
  --sp-syntax-color-static: #032f62;
  --sp-syntax-color-string: #032f62; */


}

.dark .monaco-editor {
  /* --vscode-editor-background: var(--sp-colors-surface1); */

}

.monaco-editor {
  /* --vscode-editor-background: var(--sp-colors-surface1); */
  /* --monaco-monospace-font: 'MapleMono' */
}


html {
  font-size: 16px;
  padding: 0px !important;
  overflow-x: hidden;
  scroll-padding-top: 64px;
}

body {
  min-height: 100vh;
  position: relative;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  scrollbar-width: none; /* Firefox */
}

.algo-description pre {
  margin: 1rem 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.6rem;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-300/50 dark:bg-zinc-700/50 rounded-l-xl
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-300 dark:bg-zinc-600
}

#blogContainer {
  mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
  -webkit-mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
}




@media (min-width: 1100px) {
  #blogContainer  {
    padding-left: calc(((100vw - 1100px) + 3rem) / 2);
  }
}


