
.sandpack .sp-layout {
  border: 0;
  height: 100%;
}

.sandpack .sp-tabs {
  background-color: transparent;
}

.sandpack .sp-tabs-scrollable-container {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 40px;
  margin-bottom: -1px;
}

.sandpack .sp-tab-button {
  @apply  text-[14px] font-wotfard font-medium px-1 mr-3 flex items-center leading-tight
}